.layout {
  display: flex;
}

.main-content {
  margin-left: 240px;
  padding: 20px;
  flex-grow: 1;
  background: #f5f8ff;
  min-height: 100vh;
}

.card {
  border-radius: 15px !important;
}

.list-group-item {
  cursor: pointer;
  border: none !important;
}

.list-group-item:hover {
  background-color: #e7efff !important;
}
